.s {
  width: 24px;
  height: 21px;
}

.m {
  width: 80px;
  height: 21px;
}

.m.black {
  background-color: #f0f0f0;
  color: black;
}

.disabled {
  width: auto;
  height: 21px;
}

.disabled.black {
  background-color: #efefefa9;
  border-color: #efefef4d;
}

.active,
.active.black {
  border: none;
  background-color: orangered;
}

.switchTheme {
  padding: 0 5px;
  border-width: 1px;
  border-radius: 10px;
}

.switchTheme:active {
  color: white;
  background-color: black;
  border-color: white;
}

.switchTheme:active.black {
  color: black;
  background-color: white;
  border-color: black;
}

.black {
  color: white;
  background-color: black;
  border-color: white;
}
