.s {
  width: 2.4rem;
  height: 2.1rem;
}

.m {
  width: 8rem;
  width: 10.8rem;
  height: 2.1rem;
}

.m.black {
  background-color: #f0f0f0;
  color: black;
}

.disabled {
  width: auto;
  height: 2.1rem;
}

.disabled.black {
  background-color: #efefefa9;
  border-color: #efefef4d;
}

.active,
.active.black {
  border: none;
  background-color: orangered;
}

.switchTheme {
  padding: 0 0.5rem;
  border-width: 1px;
  border-radius: 1rem;
}

.switchTheme:active {
  color: white;
  background-color: black;
  border-color: white;
}

.switchTheme:active.black {
  color: black;
  background-color: white;
  border-color: black;
}

.black {
  color: white;
  background-color: black;
  border-color: white;
}

.rating,
.ratingActive {
  width: 3rem;
  padding: 0.2rem 0;
  border-radius: 20%;
}

.ratingHovered {
  opacity: 0.7;
  background-color: gold;
}

.ratingActive {
  opacity: 1;
  background-color: gold;
}

.ratingHovered.black,
.ratingActive.black {
  background-color: rgba(255, 68, 0, 0.8);
}

.userAuthorization {
  padding: 0 0.5rem;
  border-width: 1px;
  border-radius: 1rem;
}

.userAuthorization:active {
  background-color: orangered;
}
