.restaurantName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.menu {
  margin-top: 0.5em;
}

.reviews {
  margin-top: 0.5em;
}

.addReviewButton {
  margin-top: 2em;
}
