.restaurantName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.menu {
  margin-top: 1rem;
}

.reviews {
  margin-top: 1rem;
}

.addReviewButton {
  margin-top: 2.5rem;
}
