.root {
  width: 50vw;
  height: 50vh;
  border: 2px solid black;
  font-weight: bold;
  background-color: orangered;
}

.root.black {
  border-color: white;
  color: black;
  background-color: white;
}

.textReview {
  margin-top: 0.2em;
}

.ratingInput {
  margin-top: 0.2em;
}

.actionButtons {
  position: absolute;
  bottom: 0;
  transform: translateY(-10%);
}