.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: white;
}

.root.black {
  color: white;
  background-color: black;
}

.authorization {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px inset orangered;
  border-left: none;
  border-right: none;
}

.authorization span {
  font-weight: bold;
  color: orangered;
}
